<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/homePage.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <script src="https://kit.fontawesome.com/a3aad2d743.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/homePageSearch.js" defer></script>
    <title>Document</title>
</head>

<body>

    <nav class="navBar">
        <img src="/images/resources/cenflixLogo.png" alt="" height="30px" width="120px">
        <div class="navLinks">
            <a href="/user/homePage" class="temp">Home</a>
            <a href="/user/aboutUs">About Us</a>
            <a href="/user/contactUs">Contact Us</a>
            <a href="/user/logOut">LogOut</a>
        </div>
    </nav>
    <section class="silder">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/images/slider/<%=slider[0].SliderImage%>" style="width:100%; height: 100%;">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/images/slider/<%=slider[1].SliderImage%>" style="width:100%; height: 100%;">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/images/slider/<%=slider[2].SliderImage%>" style="width:100%; height: 100%;">
                <div class="text">Caption Three</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section>

    <section class="filters">
        <div class="movieFilters">
            <div class="selectOption">
                <select name="movieIndustry" class="movieIndustry" id="movieIndustry">
                    <option selected="selected" value="">By Industry</option>
                    <option value="BollyWood">BollyWood</option>
                    <option value="HollyWood">HollyWood</option>
                    <option value="LollyWood">LollyWood</option>
                </select>
            </div>

            <div class="selectOption">
                <select name="movieGenre" class="movieGenre" id="movieGenre">
                    <option selected="selected" value="">By Genre</option>
                    <option value="Action">Action</option>
                    <option value="Romance">Romance</option>
                    <option value="thriller">thriller</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Horror">Horror</option>
                    <option value="Adult">Adult</option>
                    <option value="Drama">Drama</option>
                    <option value="Sports">Sports</option>
                    <option value="Family">Family</option>
                    <option value="Music">Music</option>
                    <option value="Crime">Crime</option>
                    <option value="Animation">Animation</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Biography">Biography</option>
                    <option value="Documentary">Documentary</option>
                    <option value="History">History</option>
                    <option value="War">War</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Fantasy">Fantasy </option>
                    <option value="Western">Western </option>
                    <option value="Psycho">Psycho</option>
                </select>
            </div>

            <div class="selectOption">
                <form role="search" id="form">
                    <input type="search" id="myInput" name="q" onkeyup="myFunction()" placeholder="Search..."
                        aria-label="Search through site content">
                    <button type="submit" disabled><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

    </section>

    <section class="movies">
        <div class="movieCards" id="myTable">
            <% movieData.forEach(function(movie){ %>
                <div class="card" class="tr">
                    <img src="/images/movies/<%=movie.MoviePoster%>" alt="Avatar" style="width:100%; height: 70%;">
                    <div class="container">
                        <h3><b>
                                <%=movie.MovieName%>
                            </b></h3>
                        <div class="btn">
                            <a href="/user/bookMovie/<%=movie.MovieID%>" class="backBtn">Book Now</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </section>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

</body>

</html>